@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap");
@import url("./fonts.css");

html {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 100%;
  min-height: 110vh;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #111;
  overflow-y: scroll;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  color: #a3fffa;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: Quicksandcf;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  margin: 24px 0;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

section {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.container {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  min-width: 330px;
  max-width: 1380px;
  box-sizing: border-box;
}
