@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap");
@import url("./fonts.css");

html {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 100%;
  min-height: 110vh;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #111;
  overflow-y: scroll;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: Quicksandcf;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

section {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.container {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  min-width: 330px;
  max-width: 1380px;
  box-sizing: border-box;
}

/*
.pin {
  display: block;
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  opacity: 0;
  transition: 0.05s;
  cursor: pointer;
}

.zone.a .pin {
  bottom: 6px;
  right: 6px;
  width: 28px;
  height: 28px;
}

.zone.a:hover .pin,
.zone.c:hover .pin,
.zone.d a:not(.surcycle):hover .pin {
  opacity: 1;
}

.pin:hover {
  transform: translateY(2px);
  opacity: 1 !important;
}

.pin.pinned {
  opacity: 1;
}

.pinned:hover {
  transform: translateY(-2px) !important;
}

.icon-pin {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 312 312'%3E%3Cpath fill='%23333' d='M309.713,112.829L199.08,2.196C197.674,0.79,195.766,0,193.777,0c-1.989,0-3.896,0.79-5.303,2.196 c-5.904,5.903-9.186,13.729-9.241,22.035c-0.042,6.201,1.72,12.114,5.034,17.152l-91.088,71.15 c-2.628-1.51-6.215-2.701-10.994-2.701c-14.604,0-34.842,11.169-52.82,29.147c-2.929,2.929-2.929,7.677,0,10.606l51.691,51.69 l-55.205,55.204c-0.494,0.494-0.916,1.054-1.256,1.664L0.942,300.771c-1.624,2.928-1.112,6.576,1.255,8.943 c1.443,1.443,3.363,2.196,5.306,2.196c1.243,0,2.495-0.309,3.637-0.942l42.624-23.654c0.609-0.339,1.17-0.761,1.664-1.254 l55.205-55.206l51.69,51.69c1.464,1.464,3.384,2.196,5.304,2.196c1.918,0,3.838-0.732,5.303-2.196 c20.877-20.877,35.569-48.381,26.459-63.829l71.139-91.073c4.98,3.274,10.818,5.035,16.941,5.036c0.001,0,0.001,0,0.002,0 c8.384,0,16.284-3.282,22.243-9.241C312.642,120.507,312.642,115.759,309.713,112.829z M45.564,274.709l-18.791,10.428 l10.428-18.792l54.463-54.46l8.361,8.362L45.564,274.709z M167.476,266.483L45.426,144.434 c15.059-13.426,29.252-19.601,36.76-19.601c1.104,0,3.1,0.145,4.066,1.111l99.714,99.714 C189.619,229.313,184.943,246.893,167.476,266.483z M189.072,207.552l-84.715-84.715l90.086-70.369l64.998,64.998L189.072,207.552z M287.47,117.678c-0.001,0-0.001,0-0.001,0c-4.258,0-8.244-1.642-11.224-4.622l-77.39-77.391c-3.01-3.009-4.651-7.033-4.623-11.333 c0.012-1.708,0.286-3.38,0.804-4.967l97.509,97.51C290.925,117.403,289.217,117.678,287.47,117.678z'/%3E %3C/svg%3E");
}

.zone.a .icon-pin {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 312 312'%3E%3Cpath fill='%23999' d='M309.713,112.829L199.08,2.196C197.674,0.79,195.766,0,193.777,0c-1.989,0-3.896,0.79-5.303,2.196 c-5.904,5.903-9.186,13.729-9.241,22.035c-0.042,6.201,1.72,12.114,5.034,17.152l-91.088,71.15 c-2.628-1.51-6.215-2.701-10.994-2.701c-14.604,0-34.842,11.169-52.82,29.147c-2.929,2.929-2.929,7.677,0,10.606l51.691,51.69 l-55.205,55.204c-0.494,0.494-0.916,1.054-1.256,1.664L0.942,300.771c-1.624,2.928-1.112,6.576,1.255,8.943 c1.443,1.443,3.363,2.196,5.306,2.196c1.243,0,2.495-0.309,3.637-0.942l42.624-23.654c0.609-0.339,1.17-0.761,1.664-1.254 l55.205-55.206l51.69,51.69c1.464,1.464,3.384,2.196,5.304,2.196c1.918,0,3.838-0.732,5.303-2.196 c20.877-20.877,35.569-48.381,26.459-63.829l71.139-91.073c4.98,3.274,10.818,5.035,16.941,5.036c0.001,0,0.001,0,0.002,0 c8.384,0,16.284-3.282,22.243-9.241C312.642,120.507,312.642,115.759,309.713,112.829z M45.564,274.709l-18.791,10.428 l10.428-18.792l54.463-54.46l8.361,8.362L45.564,274.709z M167.476,266.483L45.426,144.434 c15.059-13.426,29.252-19.601,36.76-19.601c1.104,0,3.1,0.145,4.066,1.111l99.714,99.714 C189.619,229.313,184.943,246.893,167.476,266.483z M189.072,207.552l-84.715-84.715l90.086-70.369l64.998,64.998L189.072,207.552z M287.47,117.678c-0.001,0-0.001,0-0.001,0c-4.258,0-8.244-1.642-11.224-4.622l-77.39-77.391c-3.01-3.009-4.651-7.033-4.623-11.333 c0.012-1.708,0.286-3.38,0.804-4.967l97.509,97.51C290.925,117.403,289.217,117.678,287.47,117.678z'/%3E %3C/svg%3E");
}

.zone.a .icon-pin.pinned {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 312 312' %3E %3Cpath fill='%23fff' d='M309.713,112.829L199.08,2.196C197.674,0.79,195.766,0,193.777,0c-1.989,0-3.896,0.79-5.303,2.196 c-5.904,5.903-9.186,13.729-9.241,22.035c-0.042,6.201,1.72,12.114,5.034,17.152l-91.088,71.15 c-2.628-1.51-6.215-2.701-10.994-2.701c-14.604,0-34.842,11.169-52.82,29.147c-2.929,2.929-2.929,7.677,0,10.606l51.691,51.69 l-55.205,55.204c-0.494,0.494-0.916,1.054-1.256,1.664L0.942,300.771c-1.624,2.928-1.112,6.576,1.255,8.943 c1.443,1.443,3.363,2.196,5.306,2.196c1.243,0,2.495-0.309,3.637-0.942l42.624-23.654c0.609-0.339,1.17-0.761,1.664-1.254 l55.205-55.206l51.69,51.69c1.464,1.464,3.384,2.196,5.304,2.196c1.918,0,3.838-0.732,5.303-2.196 c20.877-20.877,35.569-48.381,26.459-63.829l71.139-91.073c4.98,3.274,10.818,5.035,16.941,5.036c0.001,0,0.001,0,0.002,0 c8.384,0,16.284-3.282,22.243-9.241C312.642,120.507,312.642,115.759,309.713,112.829z M45.564,274.709l-18.791,10.428 l10.428-18.792l54.463-54.46l8.361,8.362L45.564,274.709z M167.476,266.483L45.426,144.434 c15.059-13.426,29.252-19.601,36.76-19.601c1.104,0,3.1,0.145,4.066,1.111l99.714,99.714 C189.619,229.313,184.943,246.893,167.476,266.483z M189.072,207.552l-84.715-84.715l90.086-70.369l64.998,64.998L189.072,207.552z M287.47,117.678c-0.001,0-0.001,0-0.001,0c-4.258,0-8.244-1.642-11.224-4.622l-77.39-77.391c-3.01-3.009-4.651-7.033-4.623-11.333 c0.012-1.708,0.286-3.38,0.804-4.967l97.509,97.51C290.925,117.403,289.217,117.678,287.47,117.678z'/%3E %3C/svg%3E");
}

.hovermask {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: 0.3s;
  opacity: 0;
}

.zone.a:hover .hovermask {
  opacity: 0.15;
}

.moreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 36px;
}

.moreContainer a {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #8cbfbc;
  color: #2f403f;
  border: solid 1px #749f9c;
  padding: 8px;
  min-width: 200px;
  text-align: center;
}

.moreContainer a:hover,
.moreContainer a:active {
  background-color: #709996;
  transition: 0.2s;
}
*/
